body {
   height: 90vmin;
}
table.gui {
   width: 1300px;
   height: 100%;
   resize: false;
   left: 0px;
   top: 0px;
}

#gui_header {
   height: 0;
   text-align: center;
   vertical-align: center;
}

table.gui tr td {
   vertical-align: top;
}


table.gui tr td.interface {
   width: 20%;
}

table.gui tr td.stack {
   width: 20%;
}

table.gui tr td.code{
   width: 60%;

}

#io_table div{
   white-space: pre;
}

#info {
   resize: false;
   white-space: pre;
   text-wrap: false;
}