table.absolu {
   position: fixed;
   left: 0px;
   top: 30px;
}

input.absolu {
   position: fixed;
   left: 0px;
   top: 0px;
}

table.stayatthetop {
   position: fixed;
   left: 215px;
   top: 0px;
   background: white;
}

table.belowthetop {
   position: absolute;
   left: 215px;
   top: 75px;
   background: white;
   z-index: -1;
}

thead.stackk, tbody.stack, tr.stack, th.stack, td.stack { 
   display: block;
}

tr.stack, th.stack, td.stack {
   width: 95%;
}

tbody.stack  {
   height: 100px;
   overflow-y: auto;
   overflow-x: hidden;
   width: 100%;
}

div.heading {
   text-align: center;
   font-weight: bold;
   width: 100%;

}
